.tablaBus {
    border-radius: 5px;
    border: 2px solid red;
    margin: 2%;
    width: 150px;
    display: inline-block;
}


.imagenPokeBus img {
    width: 100%;
    height: auto;
}


.tablaBus p {
    text-align: center;
}

p {
    font-family: "Poppins", sans-serif;
}

.botonVolver{
    margin: 0.5rem;
    height: 40px;
    width: 15%;
    border-radius: 5px;
    border: 2px solid red;
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #FF0000;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botonVolver:hover{
    background-color: #FF0000;
    color: white;
}