.tablaBus {
    border-radius: 5px;
    border: 2px solid red;
    margin: 2%;
    width: 150px;
    display: inline-block;

}


.imagenPokeBus img {
    width: 100%;
    height: auto;
    text-decoration: none;
}

.nombrePokeBus{
    text-decoration:none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.tablaBus p{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.tablaBus a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;

}

p {
    font-family: "Poppins", sans-serif;
}

.botonVolver{
    margin: 0.5rem;
    height: 40px;
    border-radius: 5px;
    border: 2px solid red;
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #FF0000;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
}

.botonVolver:hover{
    background-color: #FF0000;
    color: white;
}

.infoPokemon {
    text-align: center; /
    margin-top: 10px;
}

.infoPokemon p {
    margin: 0;
    padding: 0;
}
.miFormulario {
    display:flex;
    align-items: center;
}
.pokemon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0% 8% 1% 8%;
}

@media screen and (max-width: 621px) {
    .tablaBus {
        width: 100%;
        margin: 2% 0;
    }

    .botonVolver {
        width: 100%;
        margin-right: 0;
    }
    .pokemon-container {
        margin: 0 5%;
    }
}
