main {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 2%;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

label {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

input {
    height: 30px;
    width: 100%;
    margin-bottom: 1%;
    border-radius: 5px;
    border: 2px solid red;
    background-color: white;
    font-family: "Poppins", sans-serif;
}

textarea {
    margin-bottom: 1%;
    border-radius: 5px;
    border: 2px solid red;
}

select {
    margin-bottom: 1%;
    border-radius: 5px;
    border: 2px solid red;
    width: 100%;
}

#modifPokemon {
    height: 50px;
    border-radius: 5px;
    border: 2px solid red;
    font-family: "Poppins", sans-serif;
    background-color: red;
    color: white;
    font-weight: bold;
}

#modifPokemon:hover {
    background-color: white;
    color: red;
    transition-duration: 0.5s;
}

.botonVolver {
    margin: 0.5rem;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid red;
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #FF0000;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botonVolver:hover {
    background-color: #FF0000;
    color: white;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    input,
    textarea,
    select {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    input,
    textarea,
    select {
        width: 90%;
    }

    #modifPokemon,
    .botonVolver {
        width: 90%;
    }
}
